{% extends "admin-program/base_staff.html" %}
{% load static %}



{% block content %}




        <div id="page-wrapper">
                <div class="row">

                  <div class="col-lg-12">
                          <h1 class="page-header">จัดการ product</h1>
                  </div>

                  <div class="col-lg-6">
                    <form action="{% url 'product_view' %}" method="POST">
                   <div class="input-group">
                     {% csrf_token %}

                     <input type="text" name="search" class="form-control" placeholder="Search by name product... ">
                     <span class="input-group-btn">
                       <button class="btn btn-default" type="submit">Go!</button>
                     </span>


                   </div><!-- /input-group -->

                   </form>
                 </div><!-- /.col-lg-6 -->


                  <div class="col-lg-12">


                    <div class="panel-default">

                          <div class="panel-body row">

                              <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                  <thead>
                                      <tr>

                                          <th>id</th>
                                          <th>email</th>
                                          <th>name</th>
                                          <th>company</th>
                                          <th>staff</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for user in list_user %}
                                    <tr class="odd gradeX">


                                        <td>{{  user.id  }}</td>
                                        <td>{{  user.email  }}</td>
                                        <td>{{  user.name  }}</td>
                                        <form action="{% url 'update_user_company' %}" method="POST">
                                           {% csrf_token %}
                                          <input  name="user_id" type="hidden" value="{{ user.pk }}">
                                        {% if user.is_company %}
                                          <td>
                                            <input  name="promote" type="hidden" value="0">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            <button type="submit" class="btn btn-default btn-xs" value="0"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> user </button>
                                          </td>

                                        {% else %}
                                          <td>
                                            <input  name="promote" type="hidden" value="1">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            <button type="submit" class="btn btn-default btn-xs" value="1"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> promote</button>
                                          </td>
                                        {% endif %}

                                        </form>

                                        {% if user.is_staff %}
                                          <td>
                                          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                          </td>
                                        {% else %}
                                          <td>

                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>

                                          </td>
                                        {% endif %}

                                    </tr>
                                    {% endfor %}

                                  </tbody>
                              </table>

                          </div>
                          <!-- /.panel-body -->

                      </div>

                  </div>
                </div>
        </div>
    <!-- /#wrapper -->

{% endblock %}

  {% block js %}
  <script type="text/javascript">
        $(".info-product").click(function(e) {
          e.preventDefault();
          $.ajax({
              type: "POST",
              url: {% url 'show_product_from_order' %},
              data: {
                  'id': $(this).val(), // < note use of 'this' here
                  'csrfmiddlewaretoken': '{{ csrf_token }}',
              },
              success: function(result) {
                  console.log(result);
                  $('#product_id_table').empty();
                  $('#product_id_table').append(result.html);
                  $('#show_product_detail').modal('show');
              },
              error: function(result) {

              }
          });
      });
  </script>
  {% endblock %}
